#register {
  background-color: #311361;
  color: white;
  background-image: url("../Assets/register/Glare.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  min-height: 100vh;
  .logo {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 10%;
  }
  .uk {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
  }
  .createAccount {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.15em;
    text-align: center;
  }
  .gfButton {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
  }
  .or {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-align: center;
  }
  input {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.15em;
  }
  .alreadyAccount {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
  }
}
